@media(max-width:680px){
    /*PHONE PHONE*/
    
.div{
    display: none;

}
.divp{
    display:flex;
    align-items: center;

    justify-content: space-between;
    border-radius: 10px;
    background-color:  hsl(239, 57%, 95%);
    font-weight: bold;
   margin: 0px 20px;
   padding: 10px 14px;
  height:10px;
}
.sec1{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
     padding: 30px 20px;
    background: white;
    border-radius:10px;
    width:80vw !important;
    margin: 7px auto;
    height: wrap;
 
  
  }
  .sec{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
     padding: 30px 20px;
    width:80vw;
    background: white;
    border-radius:10px;
    margin: 7px  auto;
  
  }
  .flex1{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .p22{
    font-size:10px;
    color:hsl(211, 10%, 45%);
    margin-right: 10px;
    cursor:pointer;

  }

.p1{
    color:hsl(238, 40%, 52%);
    margin: 0px 15px;

}
.p11{
    color: hsl(239, 57%, 80%);
    font-size: 17px;
    cursor:pointer;

}


  .date{
    font-size:12px;
}

.main{
    display:flex;
    justify-content: space-between;
}

.div1{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.article{
    display:grid;
  grid-template-rows: 30% 60%;
  grid-row-gap:10px;
}
.img{
max-width:12%;
height:auto;
}
.img1{
   width:10px;
    height:10px;
    margin-right: 3px;
    }
    img.img1:hover{
    color:hsl(238, 40%, 72%) !important;
        width:10px;
         height:10px;
         margin-right: 3px;
         }
    .p2{
     font-size:13px;
     margin-top: -6px;
    }
    .flex{
        display:none;
        
    }
    .flexp{
        display:flex
    }
    .mainp{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .div3{
        color:hsl(238, 40%, 52%);
        display:flex;
        justify-content: space-around;
        align-items: center;
        background:none;
        border:none;
        width:60px;
        padding: auto 10px;
        height:29px;
        cursor: pointer;
    }
    button.div3:hover{
        color:hsl(238, 40%, 52%);
        display:flex;
        justify-content: space-around;
        align-items: center;
        background:none;
        border:none;
        width:60px;
        padding: auto 10px;
        height:29px;
        opacity: 0.5;
    }
    
    .div2{
        color:hsl(358, 79%, 66%);
        display:flex;
        justify-content: space-around;
        align-items: center;
        background:none;
        border:none;
        width:60px;
        padding: auto 10px;
        height:29px;
        cursor: pointer;
    }
    button.div2:hover{
        color:hsl(358, 79%, 66%);
        display:flex;
        justify-content: space-around;
        align-items: center;
        background:none;
        border:none;
        width:60px;
        padding: auto 10px;
        height:29px;
        opacity: 0.5;

    }
    .btn1{
        color:white;
        background-color: hsl(238, 40%, 52%);
        font-size:10px;
        padding: 1px 3px;
        font-weight: 500;
        border-radius: 2px;

    }
    .btn{
        background:hsl(238, 40%, 52%);
        color:white;
        border:none;
        border-radius: 5px;
        width:60px;
        padding: auto 10px;
        margin-top:10px;
        height:29px;
        font-size: 10px;
        text-transform: uppercase;
        cursor:pointer;
    }
    .text{
        margin-left: -20px;
        width:100%;

    }
    .form{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
    }
}




@media(min-width:681px){
    /*LAPTOP LAPTOP*/
    
.div{
    display: flex;
    flex-direction:column;
    align-items: center;

    justify-content: space-around;
    border-radius: 10px;
    background-color:  hsl(239, 57%, 95%);
    font-weight: bold;
   margin: 0px 20px;
   padding: 10px 14px;
  height:60px;
}
.sec1{
    display:grid;
 grid-template-columns: 10% 80%;    
 grid-column-gap: 5%;
     padding: 20px 20px;
     padding-top: 10px;
    padding-bottom: 30px;
    background: white;
    border-radius:10px;
    margin: 9px 0px;
    height: wrap;
 
  
  }
  .flex1{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .p22{
    font-size:10px;
    color:hsl(211, 10%, 45%);
    margin-right: 10px;
  }

.p1{
    color:hsl(238, 40%, 52%);
   margin:-7px 0px

}
.p11{
    color: hsl(239, 57%, 80%);
    font-size: 17px;
    cursor:pointer;

}


  .date{
    font-size:12px;
}

.main{
    display:flex;
    justify-content: space-between;
}

.div1{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.article{
    display:grid;
  grid-template-rows: 30% 60%;
  grid-row-gap:10px;
}
.img{
max-width:12%;
height:auto;
}
.img1{
   width:10px;
    height:10px;
    margin-right: 3px;
    }
    img.img1:hover{
    color:hsl(238, 40%, 72%) !important;
        width:10px;
         height:10px;
         margin-right: 3px;
         }
    .p2{
     font-size:13px;
     margin-top: -6px;
    }
    .flex{
        display:flex;
        
    }
    .div3{
        color:hsl(238, 40%, 52%);
        display:flex;
        justify-content: space-around;
        align-items: center;
        background:none;
        border:none;
        width:60px;
        padding: auto 10px;
        height:29px;
        cursor: pointer;
    }
    button.div3:hover{
        color:hsl(238, 40%, 52%);
        display:flex;
        justify-content: space-around;
        align-items: center;
        background:none;
        border:none;
        width:60px;
        padding: auto 10px;
        height:29px;
        opacity: 0.5;
    }
    
    .div2{
        color:hsl(358, 79%, 66%);
        display:flex;
        justify-content: space-around;
        align-items: center;
        background:none;
        border:none;
        width:60px;
        padding: auto 10px;
        height:29px;
        cursor: pointer;
    }
    button.div2:hover{
        color:hsl(358, 79%, 66%);
        display:flex;
        justify-content: space-around;
        align-items: center;
        background:none;
        border:none;
        width:60px;
        padding: auto 10px;
        height:29px;
        opacity: 0.5;

    }
    .btn1{
        color:white;
        background-color: hsl(238, 40%, 52%);
        font-size:10px;
        padding: 1px 3px;
        font-weight: 500;
        border-radius: 2px;

    }
    .btn{
        background:hsl(238, 40%, 52%);
        color:white;
        border:none;
        border-radius: 5px;
        width:60px;
        padding: auto 10px;
        margin-top:10px;
        height:29px;
        font-size: 10px;
        text-transform: uppercase;
        cursor:pointer;
    }
    .text{
        margin-left: -20px;
        width:100%;

    }
    .form{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
    }
    .mainp{
        display:none;
    }
}
    
/*
- Moderate blue: hsl(238, 40%, 52%)
- Soft Red: hsl(358, 79%, 66%)
- Light grayish blue: hsl(239, 57%, 85%)
- Pale red: hsl(357, 100%, 86%)

### Neutral

- Dark blue: hsl(212, 24%, 26%)
- Grayish Blue: hsl(211, 10%, 45%)
- Light gray: hsl(223, 19%, 93%)
- Very light gray: hsl(228, 33%, 97%)
- White: hsl(0, 0%, 100%)

- **Bonus**: If you're building a purely front-end project, use `localStorage` to save the current state in the browser that persists when the browser is refreshed.
- **Bonus**: Instead of using the `createdAt` strings from the `data.json` file, try using timestamps and dynamically track the time since the comment or reply was posted.

*/